
.nav-link:hover{
    background-image: linear-gradient(90deg,darkcyan, purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
body{
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}
#hello{
    background-image: linear-gradient(90deg,purple, lightseagreen);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
#hello_greeting{
    background-image: linear-gradient(90deg,darkcyan, purple);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

section{
    background-color: black;
}
nav{
    background-color: black;
}
#btn{
    border-image: linear-gradient(45deg,darkcyan, purple) 1;
    border-width: 1px;
    
    
}
button:hover{
    color: white !important;
    
}
#card {
    background-color: black;
    border-image: linear-gradient(45deg, darkcyan, purple) 1;
    border-width: 2px;
}
#card:hover {
    background-color: black;
    border-image: linear-gradient(45deg, purple, lightseagreen) 1;
    border-width: 2px;
    transform: scale(1.03);
}

  

